body {
    background-color: rgb(168, 165, 161);
}
a {
    text-decoration: none;
    color: black;
}
.form_block {
    width: 370px;
    height: 500px;
    background-color: rgb(252, 251, 250);
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}
.form_block:hover {
    box-shadow: 0px 0px 3px rgb(49, 47, 47);
}
.zag {
    width: 370px;
    margin-top: 75px;
    text-align: center;
    position: absolute;
    font-size: 2rem;
    color: rgb(46, 44, 48);

}
.email {
    width: 254px;
    height: 35px;
    margin-top: 164px;
    margin-left: 60px;
    border: none;
    border-bottom: 2px solid rgb(180, 174, 174);
    text-align: start;
    font-size: 0.95rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pass {
    width: 254px;
    height: 35px;
    margin-top: 35px;
    margin-left: 60px;
    border: none;
    border-bottom: 2px solid rgb(180, 174, 174);
    text-align: start;
    font-size: 0.95rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.eye {
    width: 25px;
    height: 14px;
    margin-left: 291px;
    margin-top: -25px;
    background-image: url(./img/eye-eye-people-logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.6;
}
.eye:hover {
    cursor: pointer;
}
.eye:active {
    opacity: 1;
}
.knopka {
    width: 254px;
    height: 45px;
    margin-top: 35px;
    margin-left: 60px;
    border: none;
    color: white;
    text-align: center;
    font-size: 0.85rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right ,rgb(10, 215, 230), rgb(202, 25, 247));
border-radius: 30px;
}
.zareg {
    width: 370px;
    margin-top: 90px;
    text-align: center;
    color: rgb(137, 137, 141);
    font-size: 0.8rem;
}
.knopka:hover {
    cursor: pointer;
    opacity: 0.9;
}
.knopka:active {
    transform: scale(1, 0.9);
    box-shadow: 0px 0px 3px black;
    color: rgb(173, 171, 171);
}
